/*
 * Variables...
 */
$brand-primary: #18576E;
$brand-success: #18bc9c;
$brand-danger: #e74c3c;

$state-success-text: #ffffff;
$state-success-bg: #18bc9c;
$state-success-border: #18bc9c;

$state-info-text: #ffffff;
$state-info-bg: #5291cb;
$state-info-border: #5291cb;

$state-danger-text: #ffffff;
$state-danger-bg: #e74c3c;
$state-danger-border: #e74c3c;

$text-color: #4c5557;
$font-family-sans-serif: "Lato", Helvetica, Arial, sans-serif !default;
$font-size-base: 14px;

$btn-font-weight: 300;

$navbar-height: 65px;

$panel-default-heading-bg: #ffffff;
$panel-default-text: #969696;
